body {
	margin: 0;
	background: #C4B198;
	height: 100%;
	width: 100%;
}

button {
	background: aqua;
}

nav {
	list-style-type: none;
	top: 0;
	position: fixed;
	padding: 8px;
	background: #2E4155;
	width: 100%;
	height: 8%;
}
li {
	padding: 8px;
	font-size: 150%;
	font-family: Courier;
	display: inline;
	margin-left: 32px;
	border-bottom: 12px;
}
a, a:visited {
	color: #557DA7;
	border-bottom-width: 8px;
	border-bottom-style: solid;
}
a:hover {
	color: yellow;
}

header {
	margin-top: 8%;
	position: relative;
	padding: 16px;
	height: auto;
	width: auto;
	display: block;
	border: 2px;
	border-style: solid;
	border-color: red;
	border-radius: 8px;
}
h1 {
	text-align: center;
	font-size: 36px;
	font-family: Arial;
}

article {	
	border: 2px;
	border-style: solid;
	border-color: red;
	border-radius: 8px;
	margin: 2%;
}

div.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

div.div1 { grid-area: 1 / 1 / 2 / 2; }
div.div2 { grid-area: 2 / 1 / 3 / 2; }
div.div3 { grid-area: 3 / 1 / 4 / 2; }
div.div4 { 
	grid-area: 1 / 2 / 4 / 3;
	}







footer {
	position: absolute;
	height: 5%;
	width: 100%;
	background: yellow;
	border: 2px;
	border-style: solid;
	border-color: red;
}