body {
	margin: 0;
	background: #C4B198;
	height: 100%;
	
}

nav {
	list-style-type: none;
	top: 0;
	position: fixed;
	padding: 8px;
	background: #2E4155;
	width: 100%;
	height: 32px;
	border: 2px;
}

li {
	padding: 8px;
	font-size: 150%;
	font-family: Courier;
	display: inline;
	margin-left: 32px;
	border-bottom: 12px;
}


a, a:visited {
	color: #557DA7;
	border-bottom-width: 8px;
	border-bottom-style: solid;
}
a:hover {
	color: yellow;
}

a:active {
	color: white;
}



header {
	top: 16px;
	margin: 64px;
	margin-bottom: 12px;
	margin-top: auto;
	position: relative;
	padding: 16px;
	height: auto;
	width: auto;
	display: block;
	border: 4px;
	border-style: solid;
	
}

h1 {
	text-align: center;
	font-size: 36px;
	font-family: Arial;
}



img {
	width: 28px;
	height: 28px;
	display: inline-block;
	padding-top: 2px;
	padding-left: 2px;
	margin: 0px;
	position: absolute;
}

img:hover {
	background: white;
}


footer {
	position: relative;
	height: auto;
	background: yellow;
	width: 100%;
	border: 4px;
	border-style: solid;
	
}

p {
	font-size: 12px;
	font-family: Courier;
}

main {
	border: 4px;
	border-style: solid;
	border-color: red;
	margin-top: 36px;
	height: auto;
}

article {
	border: 4px;
	border-style: solid;
	margin: 12px;
	padding: 8px;
	width: 25%;
}

article:right {
	float: left;
}