body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

/* idle

.button {
			display: flex;
            width: 200px;
            height: 100px;
            background-color: white;
			align-items: center;
			justify-content: center;
			text-align: center;
        }

.button:hover {
			width: 200px;
            height: 100px;
            background-color: white;
			box-shadow: 5px 5px 5px rgba(0,0,0,0) inset,
						-5px -5px 5px rgba(0,0,0,0.15) inset;
        }

 */

.checkbox {
    display: none;
}

#mycheckbox:checked {
    display: block;
    background: red;
}
