/* Hide footer on screen less than 768 pixels (mobile) */
@media (max-width: 768px) {
    footer {
        display: none;
    }
}


/* governs section style */
body {
    font-family: Verdana, sans-serif;
    background-color: #fff8dc;
    color: #555555;
    margin: 0;
    padding: 0;
}

a {
    color: #000000; /* Custom link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make link text bold */
    transition: color 0.1s ease;
}

a:hover {
    color: #444444; /* Change color on hover */
    text-decoration: none;/* Add underline on hover */
}

header {
    background-color: #ffeb3b;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #000000;
    font-family: Courier;
}

/* headline link color/underline */
h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    color: #444444;
}

h2 {
    color: #000000;
}

/* navbar links */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    text-decoration: none;
    color: #444444;
}

/* styles in content section */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* footer */
footer {
    background-color: #fff8dc;
    text-align: center;
    padding: 2px;
    position: relative;
    width: 100%;
    bottom: 0;
}
