/* Hide footer on screen less than 768 pixels (mobile) */
@media (max-width: 768px) {
    footer {
        display: none;
    }
}

/* Hide footer on screen less than 768 pixels (mobile) */
@media (max-height: 768px) {
    .guestbook-messages {
        height: 50px;
    }
}


/* Governs section style */
body, html {
    font-family: Verdana, sans-serif;
    background-color: #fff8dc;
    color: #555555;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

p {
    text-align: center;
    height: 200px;
    overflow-y: scroll;
    font-family: "Courier New";
    font-weight: lighter;
}

/* links */
a {
    color: #000000; /* Custom link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make link text bold */
    transition: color 0.1s ease;
}

a:hover {
    color: #444444; /* Change color on hover */
    text-decoration: none;/* Add underline on hover */
}

header {
    background-color: #ffeb3b;
    padding: 20px;
    text-align: center;
}

/* top title text */
header h1 {
    margin: 0;
    color: #000000;
    font-family: Courier;
}

/* color/underline */
h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    font-weight: bolder;
    color: #444444;
}

/* subcategory headline */
h2 {
    font-weight: bold;
    color: #000000;

}

h3 {
    color: #666666
}

/* navbar links */
nav.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav.navbar a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 1rem;  /* Adjust as needed */
}


/* adjusts font size depending on display */
@media (max-width: 600px) {
    nav.navbar a {
        font-size: 0.5rem;
    }
}

/* Add padding for larger screens */
@media (min-width: 768px) {
    nav.navbar a {
        font-size: 1.1rem;
    }

    section {
        padding-left: 15%;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    text-decoration: none;
    color: #444444;
}

/* styles in content section */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


/* footer */
footer {
    background-color: #fff8dc;
    text-align: center;
    padding: 2px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.guestbook-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestbook-messages {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;

}

.guestbook-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestbook-form input[type="text"] {
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.guestbook-form button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
